.SecondaryButton {
    color: var(--main_color);
    font-size: 1.2rem;
    background-color: var(--white_color);
    text-transform: uppercase;
    border: 1px solid var(--main_color);
    border-radius: 2rem;
    width: max-content;
    padding: 1rem 1.5rem;
}


