

.SchoolNews_section .SchoolNews_section_container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 2rem;
}

@media(max-width:992px) {
    .SchoolNews_section .SchoolNews_section_container {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 2rem;
    }
}


